<!--====================  patners begin ====================-->
<div class="client-carousel @@extraClassName">
    <div class="container">
        <!-- Mettez ici le contenu de votre carousel de partenaires -->
    </div>
</div>
<!-- /.patner end -->
<footer class="main-footer">
    <div class="main-footer__bg" style="background-image: url(~/assets/images/shapes/footer-bg-1.png);"></div>
    <div class="container">
        <!-- Mettez ici le contenu de votre footer -->
    </div><!-- /.container -->
</footer><!-- /.main-footer -->

<section class="copyright text-center">
    <div class="container wow fadeInUp" data-wow-delay="400ms">
        <p class="copyright__text">Copyright <span class="dynamic-year"></span><!-- /.dynamic-year --> | swaed UAE. All Rights Reserved</p>
    </div><!-- /.container -->
</section><!-- /.copyright -->
